.git
.gitignore
.idea
.dockerignore
Dockerfile

*.md
!README.md

.env
.env.example

vendor
web/app/plugins
web/app/mu-plugins
!web/app/mu-plugins/bedrock-autoloader.php
!web/app/mu-plugins/disallow-indexing.php
!web/app/mu-plugins/register-theme-directory.php
